<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block layout:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
</th:block>

<th:block layout:fragment="content">

    <h2>Medical Professional Info</h2> <br/>

    <form class="form-horizontal" action="/medicalProfessional" method="POST" th:object="${medicalProfessional}">
        <input type="hidden" name="id" th:value="${medicalProfessional.id}" />
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="validation-message"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"  th:field="*{name}">
            </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="type">Type:</label>
        <label th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
               class="validation-message"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="type" name="type"  th:field="*{type}">
        </div>
    </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="mobile">Mobile:</label>
            <label th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"
                   class="validation-message"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="mobile" name="mobile"  th:field="*{mobile}">
            </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="phone">Phone:</label>
        <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
               class="validation-message"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" name="phone"  th:field="*{phone}">
        </div>
    </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="credential">Credential:</label>
            <label th:if="${#fields.hasErrors('credential')}" th:errors="*{credential}"
                   class="validation-message"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="credential" name="credential"  th:field="*{credential}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="userName">User Name:</label>
            <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                   class="validation-message"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="userName"  th:field="*{userName}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="passWord">Password:</label>
            <label th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}"
                   class="validation-message"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="passWord" name="passWord"  th:field="*{passWord}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Speciality:</label>
            <label th:if="${#fields.hasErrors('professionalSpecialityList')}" th:errors="*{professionalSpecialityList}"
                   class="validation-message"></label>
            <div class="col-sm-10">
                <select  th:field="*{professionalSpecialityList}">
                    <option th:each="Speciality : ${professionalSpecialityList}"
                            th:value="${Speciality.id}"
                            th:text="${Speciality.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    <br/>

    <a href="/medicalProfessionals">Medical Professional List</a>
</th:block>

<th:block layout:fragment="footer">
</th:block>
</body>
